a {
	text-decoration: none;
	color: white;
	margin: 0px;
	padding: 0px;
}

ul,
li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	display: inline;
}

body {
	font-family: sans-serif;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(25, 18, 192);
	cursor: default;
	height: 70px;
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 0px 30px;
	height: 100%;
}

nav > a,
nav > ul {
	display: flex;
	align-items: center;
}

nav > a > i {
	font-size: 40px;
}
nav > a > h2 {
	margin: 0px 0px 0px 20px;
	font-size: 38px;
}

nav > ul > li > a {
	display: inline-block;
	padding: 20px 20px;
	border-radius: 5px;

	transition: ease 0.2s;
}
nav > ul > li > a:hover {
	background-color: rgb(39, 36, 212);
}
