html,
body,
main {
	background-color: rgb(243, 243, 243);
	font-size: 16px;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	line-height: 1.5;
	box-sizing: border-box;
}

.panelEmpresa,
.panelDatos {
	height: 100%;
}

/* Panel Empresa */

.panelEmpresa {
	background-image: linear-gradient(to top, rgba(25, 18, 192, 0.7), rgba(25, 18, 192, 1));
	color: white;
	width: 50%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.panelEmpresa img {
	width: 460px;
}
.panelEmpresa .cuadroContenedor {
	margin-top: 90px;
	width: 155px;
	height: auto;
}

.panelEmpresa .cuadroContenedor i {
	display: block;
	text-align: center;
	font-size: 70px;
}

/* Panel de Datos */

.panelDatos {
	width: 50%;
	float: left;
	line-height: 1.8;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.panelDatos .subPanel {
	margin-top: 70px;
	padding-left: 1.3em;
	width: 458px;
}

.panelDatos .subPanel form input {
	margin-bottom: 1em;
}

.panelDatos .subPanel form .texto {
	font-size: 13px;
}

.panelDatos .subPanel form .formulario {
	border: none;
	border-bottom: solid 1.5px;
	border-color: black;
}
.panelDatos .subPanel form .formulario {
	width: 95%;
	background-color: transparent;
	padding: 0.5em;
}

.panelDatos .subPanel form .formulario:focus {
	outline-width: 0;
	border-color: #ffa450;
}

.panelDatos .subPanel a {
	color: blue;
	font-weight: bold;
}

.panelDatos .subPanel form #clear {
	clear: both;
}

.panelDatos .subPanel form .panelEnviar {
	display: block;
	text-align: center;
}

.panelDatos .subPanel form .panelEnviar #enviar {
	border: none;
	background-color: blue;
	border-radius: 1em;
	color: white;
	font-weight: bolder;
	width: 215px;
	height: 50px;
}
