body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	background-color: rgb(235, 236, 240);
}

main {
    margin-bottom: 20px;
}

main > .galeria {
	padding: 40px;
	text-align: center;
	margin-top: 55px;
}

main > section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

main > section > article {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    padding: 30px;
}

section.ubicacion {
    background-color: rgb(221, 221, 221);
}

main > section > article > div.imagen > img {
    width: 600px;
}

main > section > article > div.mapa > iframe {
    width: 600px;
    height: 400px;
    border: none;
}

main > section > article > p {
    font-size: 1.25rem;
    line-height: normal;
    padding: 10px 30px;
    width: auto;
    color: rgb(37, 37, 37);
}

@media screen and (max-width: 1024px) {
    main > section > article {
        width: 100%;
        display: block;
    }

    main > section > article > div {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 660px) {

    main > section > article {
        width: 100%;
    }
    main > section > article > div > img,
    main > section > article > div > iframe {
        width: 100%;
    }
}